@font-face {
    font-family: "Blackside";
    src: url("Blackside.otf");
    }

body{
    margin: 0;
    padding: 0;
    background-color: rgb(13, 13, 15);
}

.logo-container{
    position: absolute;
    margin-top: 9px;
    margin-left: 0px;
    height: 110px;
    width: 300px;
    background-image: url("herobase.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.logo-link{
    height: 65px;
    width: 300px;
    position: absolute;
    margin-left: 10px;
}
.logo{
    height: 100%;
    width: auto;
    padding: 10px;  
    margin-top: 0px;
    margin-left: 10px;
}

.header{
    position: absolute;
    background-color: transparent;
    height: 10%;
    width: 90%;
    margin-top: 0%;
    margin-left: 0%;
    position: absolute;
}

nav{
   float: right;
}
nav ul {
    padding: 0;
    list-style: none;
}

    nav ul li {
        display: inline-block;
        line-height: 30px;
    }
        
        nav ul li a {
            padding: 0 10px;
            text-decoration: none;
            color:rgba(255, 255, 255, 0.623);
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            
        }
        
            nav ul li a:hover {
                display: inline;
                color: white;
            }

.header-background{
    width: 100%;
    height: 800px;
    background-image: url("background4.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.socialmedia-hero{
    position: absolute;
    margin-top: 30%;
    width: 100%;
    height: 600px;
    background-image: url("basesocialmedia.png");
    background-size: 100% 100% ;
    background-repeat: no-repeat;
}

.socialmedia-container{
    background-color: rgb(13, 13, 15);
    width: 100%;
    height: 700px;
}

.instagram-logo{
    margin-left: 5%;
    height: 120px;
    width: auto;
    position: absolute;
}

.instagram-link{
    font-size: 30pt;
    margin-left: 20%;
    width: 200px;
    text-decoration: none;
    list-style: none;
    color: rgb(232, 245, 117);
    font-family: Blackside;
}

.instagram-hero{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 40%;
}

.instagram-text{
    margin-top: 0px;
    margin-left: 20%
}





.whatsapp-logo{ 
    right: 5%;
    height: 120px;
    width: auto;
    position: absolute;
}

.whatsapp-link{
    position: absolute;
    right: 20%;
    font-size: 30pt;
    text-decoration: none;
    list-style: none;
    color: rgb(232, 245, 117);
    font-family: Calibri;

}

.whatsapp-hero{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 10%;
}
.whatsapp-title{
    margin-bottom: 0;
    margin-top: 0;
    right: 20%;
    font-size: 30pt;
    font-family: Calibri;       
    border: 0px;
    position: absolute;
}
.whatsapp-text{
    right: 20%;
    position: absolute;
    margin-top: 50px;
    text-align: right;
    border: 0px;
}



.facebook-logo{
    margin-top: 0px;
    margin-left: 5%;
    height: 120px;
    width: auto;
    position: absolute;
}

.facebook-hero{
    margin-top: 600px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 300px;
}

.facebook-link{
    text-decoration: none;
    list-style: none;
    margin-left: 20%;
    margin-top: 0px;
    font-size: 30pt;
    font-family: Blackside;
    color: rgb(232, 245, 117);
    position: absolute;
}
.facebook-text{
    margin-top:40px;
    margin-left: 20%;
    position: absolute ;
}

.linkedin-logo{
    margin-top: 0px;
    right: 5%;
    height: 120px;
    width: auto;
    position: absolute;
}

.linkedin-link{
    position: absolute;
    right: 20%;
    font-size: 30pt;
    text-decoration: none;
    list-style: none;
    color: rgb(232, 245, 117);
    font-family: Blackside;

}

.linkedin-hero{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 470px;
}
.linkedin-title{
    margin-bottom: 0;
    margin-top: 0;
    right: 20%;
    font-size: 30pt;
    font-family: Calibri;       
    border: 0px;
    position: absolute;
}
.linkedin-text{
    right: 20%;
    position: absolute;
    margin-top: 50px;
    text-align: right;
    border: 0px;
}

.github-logo{
    margin-top: 0px;
    margin-left: 5%;
    height: 120px;
    width: auto;
    position: absolute;
}

.github-hero{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 650px;
}

.github-link{
    text-decoration: none;
    list-style: none;
    margin-left: 20%;
    margin-top: 0px;
    font-size: 30pt;
    font-family: Blackside;
    color: rgb(232, 245, 117);
    position: absolute;
}
.github-text{
    margin-top:40px;
    margin-left: 20%;
    position: absolute ;
}



.behance-logo{
    margin-top: 0px;
    right: 5%;
    height: 120px;
    width: auto;
    position: absolute;
}

.behance-link{
    position: absolute;
    right: 20%;
    font-size: 30pt;
    text-decoration: none;
    list-style: none;
    color: rgb(232, 245, 117);
    font-family: Blackside;

}

.behance-hero{
    position: relative;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    color: white;
    margin-top: 800px;
}
.behance-title{
    margin-bottom: 0;
    margin-top: 0;
    right: 20%;
    font-size: 30pt;
    font-family: Calibri;       
    border: 0px;
    position: absolute;
}
.behance-text{
    right: 20%;
    position: absolute;
    margin-top: 50px;
    text-align: right;
    border: 0px;
}


.divisor-footer{
    height: 220px;
    width: 100%;
    margin-top: 360px;
    background-image: url("divisorfooter.png");
    background-size: 100% 220px;
    background-color: rgba(26, 39, 38, 0);
    background-repeat: repeat;
}

.footer{
    position: absolute;
    margin: 0;
    padding: 0;
    background-color: rgb(13, 13, 15);
    width: 100%;
    height: 250px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
}

.footer-text{
    position: relative;
    text-align: center;
    margin-top: 80px;
    background-color: rgb(13, 13, 15);
    width: auto;
    height: auto;
}

.footer-logo{
    position: absolute;
    right: 3%;
    margin-bottom: -100px;
    height:100px;
    width: auto;
}













